SIM_PORT=8080
GUI_PORT=8501

SIM_AGENT_ID=railenium-edge-simulator
SIM_TIMEZONE=UTC

SIM_CONFIG_DIR=/app/configs
SIM_SCENARIO_DIR=/app/scenarios
SIM_RUNS_DIR=/app/runs

GUI_RUNS_DIR=/app/runs
GUI_CONFIG_DIR=/app/configs
GUI_DEFAULT_SCENARIO=example_scenario
